* {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url("../img/bg1.jpg"); */
    background: url("../img/bg1.jpg") no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    width: 40%;
    background-color: rgba(239,222,205,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
    max-height: 80%;
}

#num {
    width: 90%;
    padding: 5px;
    float: left;
    box-sizing: border-box;
}

.button {
    width: 10%;
    padding: 5px;
}

#submit {
    float: right;
    box-sizing: border-box;
}

.q-item {
    padding-top: 15px;
    border: 1px red solid;
}

.choice {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

label {
    padding-left: 2px;
}