<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
    -->
    <!--link href needs to use 'url for' because "static/css/main.css" won't work, why?-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}"> 
    {% block head %} <title>Harry Potter Spell Quiz</title> {% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="navbar navbar-light bg-grey sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="../static/img/hat.png"></a>
            <a class="text-dark nav-link mr-sm-2" href="contact">Report an issue</a>
        </div>
        </div>
      </nav>
    {% endblock %}
    {% block body %}

    {% endblock %}
</body>
</html>