{% extends "base.html" %}

{% block body %}
<div class="box beige-bg-lighter">
    <div class="container">
        <h1 class="pb-2 mt-4 mb-2 border-bottom">Harry Potter Spell Quiz</h1>
        <p>Welcome, young one! You will be tested on your knowledge of spells.</p>
        <p>How many questions are you confident to answer?</p>
        <form action="/" method="POST" class="form-group">
            <div class="row">
                <div class="col-md-10 form-group mb-3">
                    <input type="number" class="form-control" name="num" placeholder="1-150" min="1" max="150">
                </div>
                <div class="col-md-2 form-group mb-3">
                    <button class="btn btn-info" type="submit">Start</button>
                </div>
            </div>
        </form>
    </div>
</div> <!--box-->
{% endblock%}