{% extends "base.html" %}

{% block body %}
<div class="box">
    {% if test_list %}
        {% for i in range(test_list|length) %} <!-- display 3 at a time-->
        <form action="/quiz" method="POST">
        <div class="q-item">
            <h2>Question {{i+1}}</h3>
            <p class="question">Which {{ test_list[i]['type']|lower }} {{ test_list[i]['effect'] }}?</p>
            <label class="container">{{ test_list[i]['options'][0] }}
                <input type="radio" name="{{i}}options" value="{{test_list[i]['options'][0]}}">
                <span class="checkmark"></span>
            </label>
            <label class="container">{{ test_list[i]['options'][1] }}
                <input type="radio" name="{{i}}options" value="{{test_list[i]['options'][1]}}">
                <span class="checkmark"></span>
            </label>
            <label class="container">{{ test_list[i]['options'][2] }}
                <input type="radio" name="{{i}}options" value="{{test_list[i]['options'][2]}}">
                <span class="checkmark"></span>
            </label>
            <label class="container">{{ test_list[i]['options'][3] }}
                <input type="radio" name="{{i}}options" value="{{test_list[i]['options'][3]}}">
                <span class="checkmark"></span>
            </label>
            <!--
            <div class="choice"><button onclick="myFunction()">{{ test_list[i]['options'][0] }}</button></div>
            <div class="choice"><input type="radio" name="options" value="{{test_list[i]['options'][0]}}"><label for="r1">{{ test_list[i]['options'][0] }}</label></div>
            <div class="choice"><input type="radio" name="options" value="{{test_list[i]['options'][1]}}"><label for="r2">{{ test_list[i]['options'][1] }}</label></div>
            <div class="choice"><input type="radio" name="options" value="{{test_list[i]['options'][2]}}"><label for="r3">{{ test_list[i]['options'][2] }}</label></div>
            <div class="choice"><input type="radio" name="options" value="{{test_list[i]['options'][3]}}"><label for="r4">{{ test_list[i]['options'][3] }}</label></div>
            -->
        </div>
        {% endfor %}
        <input type="submit" class="button" id="submit" value="Submit">
        </form>
        <div class="w3-light-grey"></div>
        
            
        
    {% else %}
    <div>
        <h1>Harry Potter Spell Quiz</h1>
        <p>You will be tested on your knowledge of spells.</p>
        <p>How many questions? (1-150)</p>
        <form action="/" method="POST">
            <input type="text" id="num" name="num">
            <input type="submit" class="button" id="submit" value="Start">
        </form>
    </div>
    {% endif %}
</div> <!--box-->

{% endblock%}